<section>
    <div class="d-flex justify-content-center p-5">
        
<form action="/login" method="post" >
 <h1>Login page </h1>

  <div class="container">
    <label><h4> <b>Email</b></h4></label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="text" placeholder="Enter email" name="Email" required  class="m-4"><br>
    <label ><b> <h4>Password</h4></b></label>
    <input type="password" placeholder="Enter Password" name="psw" required class="m-3"> <br>
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn-success">Login</button>&nbsp
    <button type="button" class="cancelbtn btn-danger">Cancel</button>
    </div>
  </div>
</form>
</div>
</section>