
<section>
    <div class="container">
        <div>
            <h2 >ORDER STATUS</h2>
            <H3>success...</H3>
            
            <a href="/order-list" class="btn btn-primary">view details</a>
        </div>
    </div>
</section>