<section>
<div class="d-flex justify-content-center p-5">

<form action="/signup"  method="post">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label ><b> <h3>Username</h3></b></label><br>
    <input type="text" placeholder="Enter Username" name="Name" required><br>

    <label ><b><h3>Email</h3></b></label><br>
    <input type="text" placeholder="Enter Email" name="Email" required><br>

    <label ><b><h3>Password</h3></b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required><br>


    <p>By creating an account you agree to our <a href="#" style="color:rgb(231, 8, 8)">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn btn-danger">Cancel</button>
      <button type="submit" class="signupbtn btn-success">Sign Up</button>
    </div>
  </div>
</form>
</div>
</section>